* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-color);
}


:root {
  --primary-color:#FFFFFF;
  --secondary-color: #334AC3;
  --grey-light-color: #8D8D8D;
  --background-color: #D9DBE4;
}

h1, h2,h3,h4,h5,h6 {
  margin: 0;
}


.base-card {
  background-color: var(--primary-color);;
  border-radius: 10px;

}
